.page-wrapper.has-sidebar {
    display: grid;
    grid-template-columns: 15% 1fr;
    grid-template-rows: 1fr auto;

    .sidebar {
        background-color: $dark;
        min-height: 100vh;
        grid-row: 1 / span 2;

        .sidebar-inner {
            position: fixed;
            width: 15%;
        }

        ul.sidebar-menu {
            margin-top: 10px;

            li.sidebar-hoverable a {
                padding: 2px 20px;
                width: 100%;
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                font-weight: 600;
                font-size: 14px;
                color: white;
                letter-spacing: .5px;

                &:hover {
                    background-color: rgba(white, .05);
                    color: white;
                }
            }
        }
    }
}