.recipe-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    
    @include breakpoint(md) {
        grid-template-columns: repeat(2, 1fr);
    }
    @include breakpoint(sm) {
        grid-template-columns: 1fr;
    }

    .recipe-container {
        position: relative;

        .recipe-grid-actions {
            position: absolute;
            width: 100%;
            display: flex;
            justify-content: flex-end;
            padding: 10px;

            svg {
                margin-left: 5px;
                padding: 8px;
                width: 26px;
                height: 26px;
                border-radius: 100%;
                background-color: $neutral;
                color: $primary;
                opacity: .75;
                transition: .1s ease all;
                cursor: pointer;

                &:hover {
                    opacity: 1;
                    transform: scale(1.1);
                }
            }
        }

        &.saved-recipe .fa-heart {
            background-color: $action;
            color: white;
            opacity: 1;
        }

        .fa-check {
            display: none;
        }
        &.active-meal-plan {
            .fa-check {
                display: block;
                background-color: $primary;
                color: white;
                opacity: 1;
                // pointer-events: none;
            }
            .fa-plus {
                display: none;
            }
        }

        img {
            width: 100%;
        }
    }
}

.recipe-container {
    a {
        text-decoration: none;

        h3 {
            margin: 10px 0 0;
            line-height: 1.25;
        }

        &:hover h3 {
            color: $secondary;
        }
    }
}