.recipe-actions-container {
    display: flex;
    gap: 10px;

    button.recipe-action {
        padding: 0;
        display: flex;
        align-items: stretch;
        background-color: $neutral;
        border-color: rgba(black, .1);

        span {
            color: $dark;
            opacity: .75;
        }

        span.action-icon {
            padding: 5px;
            background-color: rgba(black, .1);
            display: inline-block;
            border-top-left-radius: inherit;
            border-bottom-left-radius: inherit;
        }

        span.recipe-action-text {
            display: flex;
            align-items: center;
            padding: 5px 10px;
            font-size: 10px;
            text-transform: uppercase;
            font-weight: bold;
        }

        &:hover span {
            opacity: 1;

            &.action-icon {
                color: $action;
            }
        }

        &.active {
            background-color: $action;
            border-color: $action;

            span {
                opacity: 1;
                color: white;
            }
            
            &:hover span.action-icon {
                color: white;
            }
        }
    }
}